@model Migrations.Framework48.ViewModels.OverviewViewModel
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <th scope="row">@product.Id</th>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Create", "Add")
